
body {
  background-color: #333; /* 背景色を黒系に設定 */
  color: rgb(190, 190, 190); /* 文字色を白に設定 */
}

h2 {
  font-size: 1.5rem; /* 文字の大きさを調整 */
  position: relative;
  margin-top: 25px; /* 上部の空白を調整 */
}

h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px; /* 線の太さを調整 */
  background-color: rgb(190, 190, 190); /* 線の色を調整 */
}

.sns-icon {
  border-radius: 10px; /* 四隅を削る */
  min-width: 72px; /* アイコンの幅を固定 */
  height: 72px; /* アイコンの高さを固定 */
  display: inline-block;
  overflow: hidden; /* 四隅を削るために必要 */
}
.sns-icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s ease; /* トランジション効果 */
}

.sns-icon img:hover {
  filter: brightness(1.5);  /* 明るさを増加 */
  transform: scale(1.1); /*  ちょっとズーム */
}


.link-highlight, a {
  color: #4f9bff; /* リンクの色 */
  text-decoration: underline; /* 下線を追加 */
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* アイコン間の隙間を調整 */
}

.skill-icons a {
  transition: 0.3s; /* スムーズな遷移効果 */
  display: inline-block; /* 他のプロパティと一緒に使用するため */
}

.skill-icons a:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 光らせる効果 */
}
