
body {
  background-color: #333; /* 背景色を黒系に設定 */
  color: #fff; /* 文字色を白に設定 */
}


.sns-icon {
  border-radius: 10px; /* 四隅を削る */
  min-width: 72px; /* アイコンの幅を固定 */
  height: 72px; /* アイコンの高さを固定 */
  display: inline-block;
  overflow: hidden; /* 四隅を削るために必要 */
}
.sns-icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s ease; /* トランジション効果 */
}

.sns-icon img:hover {
  filter: brightness(1.5);  /* 明るさを増加 */
  transform: scale(1.1); /*  ちょっとズーム */
}


.link-highlight, a {
  color: #4f9bff; /* リンクの色 */
  text-decoration: underline; /* 下線を追加 */
}
